.vscode/
.idea/
*.iml
*.suo
*.njsproj
*.ntvs*
*.sln.docstates
*.swp
*.swo
*.orig
*.db
*.DB

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

- Archives
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z

.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/
.tox/
.coverage
.coverage.*